{% extends 'base.html' %}
{% load static %}

{% block title %}Success{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/success.css' %}">{% endblock %}

{% block content %}

<div id="body">
  <div class="inside-div">
    <h1>Download Successful</h1>
    <br>
    <a href="{% url 'home' %}">Back Home</a>
  </div>
</div>

<div id="loading">Loading&#8230;</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
  <script  src="{% static 'js/success.js' %}"></script>

{% endblock %}